#!/usr/bin/env bash

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

alias fd="fdfind"

alias inmotion="ssh illumiphi.com"

alias port="cd ~/SITES/port-of-alsea.illumiphi.com/user; clear; site;"
alias presence="cd ~/SITES/presence/user; clear; site;"
alias photon="cd ~/SITES/photon-platform.net/user; clear; site;"

alias gdl="cd ~/Downloads;ls -1Ahst | head"

alias dot="cd ~/.photon;ls -A"
alias dotp="cd ~/.photon/photon;ls -A"
alias dotpp="cd ~/.photon/photon/pages;ls -A"
alias gpr="cd ~/Projects/;ls -hst"
alias gge="cd ~/Projects/geometor-explorer;ls -hst"
alias gyt="cd ~/youtube/;ls -hst"
alias gsnip="cd ~/.vim/Ultisnips/;ls"

alias dl="youtube-dl"

alias open=xdg-open

alias v="vim"
alias vrc="vim ~/.vimrc"
alias vbp="vim ~/.photon/.bash_profile"
alias val="vim ~/.photon/.aliases"
alias vfc="vim ~/.photon/.functions"
alias vrang="vim ~/.config/ranger/rc.conf"

alias skon="screenkey --scr 1 -p fixed -f 'Fira Mono' -s small -g 600x100+960+1748"
alias skoff="pkill -f screenkey"

alias src="source ~/.bashrc"

alias r="ranger"

colorflag="--color"
export LS_COLORS="no=00:\
fi=00:\
di=1;34:\
ln=01;36:\
pi=40;33:\
so=01;35:\
do=01;35:\
bd=40;33;01:\
cd=40;33;01:\
or=40;31;01:\
ex=01;32:\
*.tar=01;31:\
*.tgz=01;31:\
*.arj=01;31:\
*.taz=01;31:\
*.lzh=01;31:\
*.zip=01;31:\
*.z=01;31:\
*.Z=01;31:\
*.gz=01;31:\
*.bz2=01;31:\
*.deb=01;31:\
*.rpm=01;31:\
*.jar=01;31:\
*.jpg=01;35:\
*.jpeg=01;35:\
*.gif=01;35:\
*.bmp=01;35:\
*.pbm=01;35:\
*.pgm=01;35:\
*.ppm=01;35:\
*.tga=01;35:\
*.xbm=01;35:\
*.xpm=01;35:\
*.tif=01;35:\
*.tiff=01;35:\
*.png=01;35:\
*.svg=01;35:\
*.mov=01;35:\
*.mpg=01;35:\
*.mpeg=01;35:\
*.avi=01;35:\
*.fli=01;35:\
*.gl=01;35:\
*.dl=01;35:\
*.xcf=01;35:\
*.xwd=01;35:\
*.ogg=01;35:\
*.mp3=01;35:\
*.wav=01;35:\
"

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'


# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
# alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

