#!/usr/bin/env bash

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

alias src="source ~/.bashrc"
alias C="src; clear -x"

alias audacity=~/AppImages/audacity-linux-3.4.2-x64.AppImage
alias shotcut=~/AppImages/shotcut-linux-x86_64-230929.AppImage
alias losslesscut=~/AppImages/LosslessCut-linux-x86_64.AppImage
alias timidity="timidity -c ~/.photon/timidity.cfg"

alias inmotion="ssh illumiphi.com"

alias dot="cd ~/.photon; "
alias dots="cd ~/.photon/sites; "
alias doti="cd ~/.photon/init; "
alias dott="cd ~/.photon/tools; "

alias gv="cd ~/.config/nvim"
alias gm="cd /mnt/md0"

alias gD="cd ~/Downloads; "
alias gM="cd ~/Media"
alias gP="cd ~/PROJECTS; "
alias gPG="cd ~/PROJECTS/geometor; "
alias gPp="cd ~/PROJECTS/phiarchitect; "
alias gPP="cd ~/PROJECTS/photon-platform; "
alias gPH="cd ~/PROJECTS/harmonic-resonance; "
alias gPi="cd ~/PROJECTS/illumiphi; "
alias gS="cd ~/Sessions; "

alias open=xdg-open

alias v="nvim"
alias vbr="v ~/.photon/.bashrc"
alias vpr="v ~/.photon/.prompt"
alias val="v ~/.photon/.aliases"
alias vfc="v ~/.photon/.functions"
alias vrang="v ~/.config/ranger/rc.conf"

alias r="ranger"

alias music="cd /mnt/md0/Music;A"

colorflag="--color"
export LS_COLORS="no=00:\
fi=00:\
di=1;33:\
ln=01;36:\
pi=40;33:\
so=01;35:\
do=01;35:\
bd=40;33;01:\
cd=40;33;01:\
or=40;31;01:\
ex=01;32:\
*.tar=01;31:\
*.tgz=01;31:\
*.arj=01;31:\
*.taz=01;31:\
*.lzh=01;31:\
*.zip=01;31:\
*.z=01;31:\
*.Z=01;31:\
*.gz=01;31:\
*.bz2=01;31:\
*.deb=01;31:\
*.rpm=01;31:\
*.jar=01;31:\
*.jpg=01;35:\
*.jpeg=01;35:\
*.gif=01;35:\
*.bmp=01;35:\
*.pbm=01;35:\
*.pgm=01;35:\
*.ppm=01;35:\
*.tga=01;35:\
*.xbm=01;35:\
*.xpm=01;35:\
*.tif=01;35:\
*.tiff=01;35:\
*.png=01;35:\
*.svg=01;35:\
*.mp4=01;36:\
*.mov=01;36:\
*.mpg=01;36:\
*.mpeg=01;36:\
*.avi=01;36:\
*.fli=01;36:\
*.gl=01;35:\
*.dl=01;35:\
*.xcf=01;35:\
*.xwd=01;35:\
*.ogg=01;37:\
*.flac=01;37:\
*.mp3=01;37:\
*.wav=01;37:\
"

# Always use color output for `ls`
alias ls="command ls -At --group-directories-first ${colorflag}"

# List all files colorized in long format
alias ll="ls -lF "

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'
alias day='date +%j'


# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
# alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias python='python3'
alias py='python3'
alias ipython='ipython3'
alias ipy='ipython3'

alias mpv='mpv -fs -keep-open=yes'


