#!/usr/bin/env bash

function log() {
  wmctrl -T log$$ -r :ACTIVE:
  sk
  v4
  sleep 2
  wmctrl -a log$$
  clear
  source ~/SITES/phiarchitect.com/user/.photon
  cd ~/SITES/phiarchitect.com/user/pages/04.log/
  page
}

function apt_upgrade() {
  sudo apt update -y
  sudo apt list --upgradeable
  read -n1 -p "run upgrade?" run_upgrade
  if [[ $run_upgrade == "y" ]]; then
    sudo apt upgrade -y
    sudo apt autoremove -y
  fi
}

convertsecstohours() {
  ((h=${1}/3600))
  ((m=(${1}%3600)/60))
  ((s=${1}%60))
  printf "%02d:%02d:%02d\n" $h $m $s
}

convertsecstomin() {
  ((m=${1}/60))
  ((s=${1}%60))
  printf "%02d:%02d\n" $m $s
}

# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_"
}

function timestamp() {
  date +"%Y%m%d-%H%M%S"
}

function cp_bak() {
  if [[ -f $1 ]]; then
    cp $1 $1.$(timestamp).bak
  fi
}

# Find and open in Vim
function vf() {
  local file=$(list_text_files | sort | fzf -m --preview="bat {}")
  if [[ -n $file ]]; then
    vim $file
  fi
}

function zd() {
  cd "$(find . -type d | fzf)"
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh;
  else
    local arg=-sh;
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@";
  else
    du $arg .[^.]* ./*;
  fi;
}

# Create a data URL from a file
function dataurl() {
  local mimeType=$(file -b --mime-type "$1");
  if [[ $mimeType == text/* ]]; then
    mimeType="${mimeType};charset=utf-8";
  fi
  echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')";
}

# Start a PHP server from a directory, optionally specifying the port
# (Requires PHP 5.4.0+.)
function phpserver() {
  local port="${1:-4000}";
  local ip="localhost"
  sleep 1 && open "http://${ip}:${port}/" &
  php -S "${ip}:${port}";
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -RNX;
}

# list and remove orphaned vim swp files
function swp() {
  ls -a *.sw? .*.sw?
  read -p "delete files? [Y]" CHECK
  if [[ "$CHECK" == "Y" ]]
  then
    rm *.sw? .*.sw?
  else
    echo "abort"
  fi
}

# https://gist.github.com/oneohthree/f528c7ae1e701ad990e6
function slugify() {
  echo "$1" |\
    iconv -t ascii//TRANSLIT |\
    sed -E 's/[~\^]+//g' |\
    sed -E 's/[^a-zA-Z0-9]+/-/g' |\
    sed -E 's/^-+\|-+$//g' |\
    sed -E 's/^-+//g' |\
    sed -E 's/-+$//g' |\
    tr A-Z a-z
}

function newsh() {
  scriptname=$1
  if [[ -z $scriptname ]]
  then
    read -p "script name: " scriptname
  fi
  echo '#!/usr/bin/env bash' > $scriptname.sh
  chmod +x $scriptname.sh
  vim $scriptname.sh
}

