"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a8819854-2713-4a33-b04d-b79b29504768"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
      "linter-spell"
      "javascript-snippets"
      "linter-eslint"
      "markdown-folding"
      "script"
      "language-c"
      "language-csharp"
      "language-objective-c"
      "language-go"
      "language-java"
      "language-mustache"
      "language-toml"
      "language-ruby"
      "language-ruby-on-rails"
      "language-python"
      "language-perl"
      "atom-runner"
      "language-clojure"
      "language-less"
      "project-manager"
      "scss-snippets"
      "tool-bar"
      "tabs-to-spaces"
      "tool-bar-markdown-writer"
      "languagetool"
      "markdown-writer"
    ]
    telemetryConsent: "limited"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "9dcc5dbc-427c-46ef-9811-269079746901"
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview-enhanced":
    enableTypographer: true
    openPreviewPaneAutomatically: false
    previewTheme: "github-dark.css"
    revealjsTheme: "night.css"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
  "one-dark-ui":
    fontSize: 14
  "open-in-browsers":
    BrowserPlus: false
    IE: false
    Opera: false
    Safari: false
    defBrowser: "Firefox"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    core:
      autoRunCommand: "source .photon"
    style:
      theme: "solarized-dark"
  "sync-settings":
    _lastBackupHash: "9b729896ab25eb431ebdef4fd8be633f4b28ddef"
    gistId: "8df0f252ff7de191b5a1336ed8fc44ab"
    personalAccessToken: "6c8d75cbd40230836098fe5dfcd0d268de930ded"
  "tree-view":
    sortFoldersBeforeFiles: false
  welcome:
    showOnStartup: false
