packages: [
  "atom-html-preview"
  "atom-runner"
  "busy-signal"
  "emmet"
  "file-icons"
  "filesize"
  "highlight-line"
  "highlight-selected"
  "intentions"
  "javascript-snippets"
  "language-apache"
  "language-awk"
  "language-markdown"
  "language-svg"
  "languagetool"
  "linter"
  "linter-eslint"
  "linter-sass-lint"
  "linter-spell"
  "linter-twig"
  "linter-ui-default"
  "markdown-folding"
  "open-in-browsers"
  "package-sync"
  "platformio-ide-terminal"
]
