packages: [
  "atom-beautify"
  "atom-html-preview"
  "atom-runner"
  "busy-signal"
  "emmet"
  "file-icons"
  "filesize"
  "highlight-line"
  "highlight-selected"
  "intentions"
  "javascript-snippets"
  "language-apache"
  "language-awk"
  "language-markdown"
  "language-svg"
  "languagetool"
  "linter"
  "linter-eslint"
  "linter-sass-lint"
  "linter-spell"
  "linter-twig"
  "linter-ui-default"
  "markdown-folding"
  "markdown-preview-enhanced"
  "markdown-writer"
  "open-in-browsers"
  "open-recent"
  "package-sync"
  "pdf-view"
  "php-twig"
  "platformio-ide-terminal"
  "project-manager"
  "script"
  "scss-snippets"
  "svg-preview"
  "tabs-to-spaces"
  "todo-show"
  "tool-bar"
  "tool-bar-markdown-writer"
  "trailing-spaces"
]
