[
  {
    title: "constructions"
    paths: [
      "/home/phi/Projects/constructions"
    ]
    color: "magenta"
  }
  {
    title: ".Photon"
    group: "config"
    paths: [
      "/home/phi/.photon"
    ]
    color: "magenta"
  }
  {
    title: "geometor"
    group: "photon"
    paths: [
      "/home/phi/SITES/geometor/user"
    ]
    color: "gold"
  }
  {
    title: "starter"
    group: "photon"
    paths: [
      "/home/phi/SITES/starter/user"
    ]
    color: "gold"
  }

]
