# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson



'.yaml':
  'columns':
    'prefix': 'bpc'
    'body': """
            columns:
              type: columns
              fields:
                $1:
                  type: column
                  fields:
                $2:
                  type: column
                  fields:
                    $0"""

'.text.html.twig':
  'Tag Print':
    'prefix': 'twp'
    'body': '{{ $1 }}$0'


  'Twig Block':
    'prefix': 'twb'
    'body': '{% block ${1:name} %}$0{% endblock ${1:name} %}'

  'Twig Block 2 - multiline':
    'prefix': 'twb2'
    'body': '{% block $1 %}\n	$0\n{% endblock $1 %}'

  'Twig Block Control':
    'prefix': 'twc'
    'body': '{% ${1:control} %}$0'


  'Twig Comment':
    'prefix': 'twm'
    'body': '{# ${1:comment} #}$0'

  'Twig Dump':
    'prefix': 'twd'
    'body': '{{ dump( ${1:variable} ) }}$0'

  'Twig Extends':
    'prefix': 'twx'
    'body': '{% extends \'${1:template}.html.twig\' %}$0'

  'Twig Include':
    'prefix': 'twinc'
    'body': '{% include \'${1:template}.html.twig\' with { \'${2:article}\' : ${3: article} }  %}$0'


  'Twig \nSet':
    'prefix': 'tws'
    'body': '{% set ${1:var} = ${2:value} %}$0'

  'Twig Set (Block)':
    'prefix': 'twsb'
    'body': '{% set ${1:var} %}\n  $0\n{% endset %}'


  'Twig If':
    'prefix': 'twif'
    'body': '{% if ${1:condition} %}$0{% endif %}'

  'Twig If (Block)':
    'prefix': 'twifb'
    'body': '{% if ${1:condition} %}\n  $0\n{% endif %}'

  'Twig If Else':
    'prefix': 'twife'
    'body': '{% if ${1:condition} %}\n  $2\n{% else %}\n  $0\n{% endif %}'


  'Twig For':
    'prefix': 'twfor'
    'body': '{% for ${1:item} in ${2:seq} %}\n	$0\n{% endfor %}'

  'Twig For Else':
    'prefix': 'twfore'
    'body': '{% for ${1:item} in ${2:seq} %}\n	$3\n{% else %}\n	$0\n{% endfor %}'

  'Else':
    'prefix': 'twelse'
    'body': '{% else %}\n  $0'


  'Twig Filter':
    'prefix': 'twfilt'
    'body': '{% filter ${1:name} %}$0{% endfilter ${1:name} %}'

  'Twig Filter (Block)':
    'prefix': 'twfiltb'
    'body': '{% filter ${1:name} %}\n  $0\n{% endfilter ${1:name} %}'
