<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  a, a:link, a:visited, a:active {
    color: #960;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline !important;
  }

</style>
<table id="letter" role="presentation"
  cellspacing="0" cellpadding="0"
  style="
    width: 600px;
    font-size: 12pt;
    font-family: Lato,Arial,sans-serif;
    margin: 0;
    padding: 0;
    line-height:normal;
    border: 0;
    color: #222;
    background: #EFEFEF;
    ">
  <tr>
    <td id="header" style="
        text-align: center;
        text-transform: uppercase;
        font-size: 8pt;
        letter-spacing: .25em;
        padding: 1em;
        background: #333;
        color: #EFEFEF;
        border-bottom: 5px solid #C90;" >
      structure &#x2022; style &#x2022; logic
    </td>
  </tr>
  <tr>
    <td id="content" style="
        vertical-align:top;
        margin: 0;
        padding: 1.5em;
        line-height:1.5;
        color: #333;
        background: #EFEFEF;" >
      <p>Hi [[TO=firstname]] ~</p>
      <p>-</p>
      <p>~ <span style="font-size: 1.5em">&#x03D5;</span></p>
    </td>
  </tr>

  <tr>
    <td id="footer" style="
        font-size: 10pt;
        padding: 1.5em;
        line-height:normal;
        border-top: 5px solid #C90;
        background: #222;
        color: #EFEFEF;" >
      <table id="signature"  role="presentation"
        cellspacing="0" cellpadding="0"
        style="width: 100%;
          background: #222;
          color: #EFEFEF;">
        <tr>
          <td id="logo"
            style="width:100px; vertical-align:top; padding-right: 1em;">
            <a href="https://photon-platform.net/" target="_blank">
              <img alt="photon logo" title="Link to photon PLATFORM"
                style="width:100px; height:100px; border:0;"
                src="https://photon-platform.net/images/photon-logo-200.png" width="100" height="100" border="0"></a>
          </td>
          <td style=" vertical-align:middle;letter-spacing: .1em; ">
            <table cellspacing="0" cellpadding="0" style="
              margin: 0;
              padding: 0;
              color: #EFEFEF;
              font-size: 10pt;
              ">
              <tbody>

                <tr>
                  <td style="padding: .2em;">
                    <b>phi</b> &#x2022; ARCHITECT</td>
                </tr>

                <tr>
                  <td style="padding: .2em;">
                    <a href="https://photon-platform.net" title="link to photon PLATFORM" target="_blank"
                    style="text-decoration: none; color: #C90;">
                       photon PLATFORM
                    </a>
                  </td>
                </tr>

                <tr>
                  <td style="padding: .2em;">
                    <b>m: </b>541-590-2321
                  </td>
                </tr>

                <tr>
                  <td style="padding: .2em;">

                    <!-- youtube -->
                    <a href="https://www.youtube.com/channel/UCYzRQS16EBmsbKuyKMFHSFQ" target="_blank"><img alt="youtube logo" title="connect on youtube" style="border:0;" src="https://img.icons8.com/color/24/000000/youtube-play.png" border="0"></a>

                    <!-- github -->
                    <a href="https://github.com/photon-platform" target="_blank"><img alt="github logo" title="fork on github" style="border:0;" src="https://img.icons8.com/color/24/000000/github.png" border="0"></a>

                    <!-- linkedin -->
                    <a href="https://www.linkedin.com/in/phi-architect" target="_blank"><img alt="linkedin logo" title="connect on linkedin" style="border:0;" src="https://img.icons8.com/color/24/000000/linkedin.png" border="0"></a>

                    <!-- twitter -->
                    <a href="https://www.twitter.com/phi_architect" target="_blank"><img alt="twitter logo" title="connect on twitter" style="border:0;" src="https://img.icons8.com/color/24/000000/twitter-squared.png" border="0"></a>

                    <!-- facebook -->
                    <a href="https://www.facebook.com/phi.architect" target="_blank"><img alt="facebook logo" title="connect on facebook" style="border:0;" src="https://img.icons8.com/color/24/000000/facebook.png" border="0"></a>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p></p>
